body {
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

header {
    padding: 0 1em;
    height: 5vh;
    border-bottom: gray;
}

.main .top {
    padding: 1em;
}

.main .top .searchLabel {
    font-size: .7em;
}

.main .bottom {
    background-color: #84e184;
    padding: 1em;
    height: 95vh;
}

#results li .imgContainer,
#results li .imgContainer img {
    width: 5em;
    height: auto;
}

.main .pagination {
    display: fixed;
}

.main #pagination>div {
    display: inline-block;
    margin-right: .5em;
}