* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

ul,
ol,
li {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

body {
    background-color: #84e184;
}

header {
    padding: 1em;
    background-color: white;
}

header .innerHeader {
    display: grid;
    grid-template-columns: 10% 80% 10%;
}

header .titleContainer {
    text-align: center;
}

header .menuContainer,
header .magnifyingContainer {
    display: flex;
    align-items: center;
}

header .menuContainer,
header .menuContainer img {
    width: 1.2em;
    height: auto;
}

.main .top {
    background-color: white;
    padding: 1em;
    border-top: 1px solid gray;
}

.main .top .searchLabel {
    font-size: .7em;
}

.main .bottom {
    padding: 1em;
}

#results li {
    margin: 1em 0;
}

#results li .imgContainer,
#results li .imgContainer img {
    width: 3em;
    height: auto;
}

#results li div {
    display: flex;
    align-items: center;
}

.main #pagination {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    background-color: #84e184;
}

.main #innerPagination>div {
    display: inline-block;
    margin-right: .5em;
}